body{
background: url(https://c4.wallpaperflare.com/wallpaper/746/963/655/pokemon-fractalius-video-games-minimalism-wallpaper-preview.jpg)center;
background-color: black;
background-size: cover;
}

.container{
display: flex;
flex-direction: row;
justify-content: center;
}
